#review-submission-container {
	width: 50%;
}

#static-map {
	margin: 0;
}

.review-date {
	font-size: 0.7rem;
}

/* https://css-tricks.com/examples/ShapesOfCSS */
.loader {
	margin: auto;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #8A470F;
	animation-name: loader-animation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes loader-animation {
	0%	{
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(360deg);
	}
}

button {
	background-color: #8A470F;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

form {
	background-color: #fff;
 	border: 2px solid #f3f3f3;
 	display: block;
 	list-style-type: none;
 	margin: 30px auto 30px auto;
 	overflow: hidden;
 	padding: 10px 20px 20px;
 	position: relative;
 	width: 85%;
}

form label {
	width: 100%;
	float: left;
	text-align: left;
}

form textarea {
	min-height: 100px;
	resize: vertical;
}

form input, form textarea {
	width: 80%;
	float: left;
}

@media screen and (max-width: 1000px) {
	#review-submission-container {
		width: 100%;
	}
}

@media screen and (min-width: 650px) and (max-width: 1000px) ,
screen and (min-width: 1275px) {
	#static-map {
  		margin: 0px calc(50% - 325px);
	}
}
